<script>
  import { navigateTo } from "yrv";
  import Paper, { Title, Subtitle, Content } from "@smui/paper";
  import { onMount, onDestroy } from "svelte";

  export let title;
  export let subtitle;

  let secondsLeft = 5;
  let countdown;
  onMount(() => {
    countdown = setInterval(() => {
      secondsLeft -= 1;
      if (secondsLeft === 0) {
        navigateTo("/");
      }
    }, 1000);
  });

  onDestroy(() => {
    clearInterval(countdown);
  });
</script>

<style>
  .container {
    padding-top: 10em;
  }
  .login {
    text-align: center;
  }
</style>

<div class="container">
  <div class="login">
    <Paper>
      <Title>{title}</Title>
      <Subtitle>{subtitle}</Subtitle>
      <Content>
        You will be redirected to the index page in {secondsLeft} seconds...
      </Content>
    </Paper>
  </div>
</div>
