<script>
  import Button, { Label } from "@smui/button";
  import { OAUTH_URI } from "../env.js";
  import Paper, { Title, Subtitle, Content } from "@smui/paper";
  import { isLoggedIn } from "../stores.js";
  import { navigateTo } from "yrv";
  import { onMount } from "svelte";
</script>

<style>
  .container {
    padding-top: 10em;
  }
  .login {
    text-align: center;
  }
</style>

<div class="container">
  <div class="login">
    <Paper>
      <Title>Login</Title>
      <Subtitle>
        In order to identify yourself, please login to Discord
      </Subtitle>
      <Content>
        <Button
          href={OAUTH_URI}
          variant="unelevated"
          color="secondary"
          class="button__login">
          <Label>Proceed</Label>
        </Button>
      </Content>
    </Paper>
  </div>
</div>
