<script>
</script>


<style lang="scss">
    @import "../../theme/_smui-theme.scss";
    @import "@material/elevation/mdc-elevation";
    @import "@material/theme/mixins";

    .container {
        border: 2px gray;
        padding: 2em 0;
        margin: 0.5em;
        text-align: center;
        background-color: #36393f;

        @include mdc-elevation(4, primary);
    }
    button.discord-style {
        transition: all .17s ease-out;
        background-color: #7289da;
        color: white;
        border-radius: 5px;
        font-size: 1.5em;
        padding: 10px 16px;
        border: none;
    }
    div.discord-container-color {
        background-color: #2f3136;
    }
    button.discord-style:hover {
        background-color:#4e5d94
    }

    @media (min-width: 50em) {
        .container {
            margin: 4em 25%;
        }
    }
</style>

<div class="container elevated discord-containercolor">
    <button style="min-width: 50%" class="discord-style"
        ><a
            style="text-decoration: none; color: inherit;"
            href="https://discord.com/api/oauth2/authorize?client_id=569850964383891471&permissions=3145728&redirect_uri=https%3A%2F%2Fentrysound.long-bui.de%2Fredirect&scope=bot"
        >
            Add Bot to your Server</a
        ></button
    >
    <p style="color: white; font-size:0.8em; margin-top:1em;">
        hint: You will need to be Administrator on your server or have the
        "Manage Server" permission
    </p>
</div>
