<script>
  import Snackbar, { Actions, Label } from "@smui/snackbar";
  import IconButton from "@smui/icon-button";
  import SoundUploader from "./SoundUploader.svelte";
  import Button from "@smui/button";
  import { API_ROOT } from "../env.js";
  import { authStore } from "../stores.js";
  import ProgressIndicatorBar from "./ProgressIndicatorBar.svelte";
  import { slide } from "svelte/transition";
  import { onMount } from "svelte";
  import readSound from "../shared/readSound.js";

  let snackbar;

  let currentSoundData;
  let progress = 0;

  let deleting = false;
  let audioBind;

  const loadSound = async () => {
    try {
      const response = await fetch(`${API_ROOT}/sounds/my`, {
        method: "GET",
        mode: "cors",
        headers: {
          authorization: authStore.getToken().accessToken
        }
      });
      readSound(await response.blob(), result => {
        currentSoundData = result;
      });
    } catch (error) {
      console.log(error);
    }
  };

  onMount(loadSound);

  const deleteSound = async () => {
    try {
      deleting = true;
      await fetch(`${API_ROOT}/mp3`, {
        method: "DELETE",
        mode: "cors",
        headers: {
          authorization: authStore.getToken().accessToken
        }
      });
      currentSoundData = null;
      snackbar.open();
      audioBind.load();
    } catch (error) {
      console.log(error);
    } finally {
      deleting = false;
    }
  };
</script>

<style>
  .info {
    text-align: center;
    margin: 0.5em 0;
  }
  .container {
    padding: 1em;
    text-align: center;
  }
  .progress-bar {
    width: 100%;
  }
  audio {
    margin: 0 auto;
    display: block;
    outline: none;
  }
</style>

<div class="container">
  <Snackbar bind:this={snackbar}>
    <Label>Entrysound successfully deleted!</Label>
    <Actions>
      <IconButton class="material-icons" title="Dismiss">close</IconButton>
    </Actions>
  </Snackbar>
  <h1 class="info">Your current Entrysound</h1>
  <p class="info">Here you can download or delete your current Entrysound.</p>
  <h2 class="info">Sound preview</h2>
  <audio controls src={currentSoundData} bind:this={audioBind} />
  {#if deleting}
    <div class="progress-bar" transition:slide>
      <ProgressIndicatorBar />
    </div>
  {/if}
  <div class="info">
    <Button
      variant="outlined"
      disabled={deleting || currentSoundData === null}
      on:click={() => {
        deleteSound();
      }}>
      Delete
    </Button>
  </div>
</div>
