<script>
  import readSound from "../shared/readSound.js";

  export let file = null;
  export let files = null;
  export let fileContent = null;

  let dragging = false;

  $: file = files ? files[0] : null;
  $: {
    if (file) {
      readSound(file, result => {
        fileContent = result;
      });
    }
  }
</script>

<style>
  .container {
    border: 2px dashed gray;
    border-radius: 3px;
    padding: 2em 0;
    margin: 0.5em;
    text-align: center;
  }

  .highlight {
    border-color: black;
    background-color: rgba(1, 1, 1, 0.2);
  }

  .input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-right: 1rem;
    cursor: pointer;
    vertical-align: middle;
  }

  #file-uploader {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  span {
    margin-left: 0.5em;
  }
</style>

<div
  class="container"
  class:highlight={dragging}
  on:dragenter|preventDefault|stopPropagation={() => (dragging = true)}
  on:dragover|preventDefault|stopPropagation={() => (dragging = true)}
  on:dragleave|preventDefault|stopPropagation={() => (dragging = false)}
  on:drop|preventDefault|stopPropagation={e => {
    dragging = false;
    files = e.dataTransfer.files;
  }}>
  <label class="input-label" for="file-uploader">
    <i class="material-icons mdc-icon-button__icon">cloud_upload</i>
    <input bind:files id="file-uploader" type="file" on:change accept=".mp3" />
    <span>Select a file</span>
  </label>
  or
  <strong>drag a file</strong>
  into this area
</div>
