<script>
  import Snackbar, { Actions, Label } from "@smui/snackbar";
  import IconButton from "@smui/icon-button";
  import SoundUploader from "./SoundUploader.svelte";
  import Button from "@smui/button";
  import { API_ROOT } from "../env.js";
  import { authStore } from "../stores.js";
  import ProgressIndicatorBar from "./ProgressIndicatorBar.svelte";
  import { slide } from "svelte/transition";

  let snackbar;

  let selectedFile;
  let filesBinding;
  let selectedFileContent;

  let uploading = false;
  let audioBind;

  const submitSound = async () => {
    const formData = new FormData();
    formData.append("sound", selectedFile);
    try {
      uploading = true;
      await fetch(`${API_ROOT}/mp3`, {
        method: "POST",
        mode: "cors",
        body: formData,
        headers: {
          "Content-Type": "multipart/form-data",
          authorization: authStore.getToken().accessToken
        }
      });
      filesBinding = null;
      selectedFileContent = null;
      snackbar.open();
      audioBind.load();
    } catch (error) {
      console.log(error);
    } finally {
      uploading = false;
    }
  };
</script>

<style>
  .info {
    text-align: center;
    margin: 0.5em 0;
  }
  .container {
    padding: 1em;
    text-align: center;
  }
  .sound-uploader {
    margin-bottom: 1.5em;
  }
  .progress-bar {
    width: 100%;
  }
  audio {
    margin: 0 auto;
    display: block;
    outline: none;
  }
</style>

<div class="container">
  <Snackbar bind:this={snackbar}>
    <Label>Entrysound successfully updated!</Label>
    <Actions>
      <IconButton class="material-icons" title="Dismiss">close</IconButton>
    </Actions>
  </Snackbar>
  <h1 class="info">Upload a new Entrysound</h1>
  <p class="info">Here you can upload a new Entrysound.</p>
  <div class="sound-uploader">

    <SoundUploader
      bind:file={selectedFile}
      bind:fileContent={selectedFileContent}
      bind:files={filesBinding} />
  </div>
  <h2 class="info">Sound preview</h2>
  <audio controls src={selectedFileContent} bind:this={audioBind} />
  {#if uploading}
    <div class="progress-bar" transition:slide>
      <ProgressIndicatorBar />
    </div>
  {/if}
  <div class="info">
    <Button
      variant="raised"
      disabled={selectedFileContent === null || uploading}
      on:click={submitSound}>
      Submit
    </Button>
  </div>
</div>
